@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */


/* Common all css */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.display-flex{
    display: flex;
}
a{
    text-decoration: none;
    list-style: none;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: rgb(114, 114, 114);
}
.text-gray{
    color: #424242;
}
.text-primary{
    color: #FF900E;
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 180px;
    height: 64px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main> section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
/* nav Styles starts here */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-links{

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* nav Styles ends here */

/* banner styles starts here */
main{
    background-color: rgb(255, 255, 255);
}
.banner-content{
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 32px;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 32px;
}
.banner-image{
    width: 100%;
}
/* banner styles ends here */

/* teams and feature related styles */ 
.teams{
    align-items: center;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.team-image-container{
    display: grid;grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.team-image-container > img{
    width: 342px;
    height: 342px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
#quick-list{
    font-weight: 500;
}
#features{
    color: #FF900E;
}
.feature-description{
    font-size: 1rem;
    margin-bottom: 32px;

}

/* teams and feature related styles end */ 

/* enjoy section styles start here */
.enjoy{

}
.enjoy-container{}
.section-title2{
    font-size: 2.8rem;
    width: 468;
    padding: 24px 92px 24px 26px;
    border-left: 5px solid #FF900E;
}
.section-description{
    width: 586px;
    font-size: 1rem;
    margin-bottom: 32px;
}
.enjoy-item{
    width: 586px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 20px;
}
.enjoy-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.enjoy-description{
    font-size: 1rem;
    font-weight: 400;
}
.enjoy-image-container{
    margin-left: 140px;
}
#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    border: none;
    margin-left: -86px;
    margin-top: -120px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 600;
}
/* some facts style start here */

.facts-container{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 108px 55px;
}
.some-facts-description{
    width: 542px;
    font-size: 1rem;
}
.fact {
    width: 200px;
    height: 225px;
    padding: 50px 30px;
    background: rgb(255, 255, 255);
    border: 1px solid #FF900E;
    border-radius: 23px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.fact-number{
    font-size: 3rem;
    font-weight: 500;
} 

/* some facts style end here */

/* Our Sponsors section style start here */

.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
}
.sponsor-companis{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companis img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}


/* Our Sponsors section style end here */

/* footer part start here */

footer{
    width: 1440px;
    height: 100px;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(66, 66, 66);
    border-radius: 8px;
    background: rgb(255, 244, 231);
    margin: 0 auto;
    text-align: center;
    margin-top: 140px;
}
footer p{
    padding: 40px 0;
}

/* footer part end here */

/* small screen responsive Media Query */
@media screen and (max-width: 576px){
    
    header {
        padding: 20px auto;
        justify-content: center;
        margin: 0 auto;
        margin-left: 25px;
        align-items: center;
    }
    
    .navbar,
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
   .team-image-container,
   .sponsor-companis
   {
    grid-template-columns: repeat(1, 1fr);
   }
   .our-features {
    margin: 0 auto;
    margin-top: 32px;
    padding: 0px 30px;
   }
    .enjoy{
    width: 100%;
    margin: 0 auto;
    text-wrap: wrap;
    }
    .section-description {
        width: 100%;
        text-align: start;
        padding: 20px 27px;
    }
    .enjoy-container {
        flex-direction: column;
    }
    .section-title{
        width: ;
        margin: 30px;
        font-size: 2rem;
    }
    .enjoy-item {
        width: 100%;
        margin: 15px;
    }
    .enjoy-image-container{
        width: 100%;
        margin: 0 auto;
    }
    
    .enjoy-image-container > img {
        width: calc(100% - 60px);
        border-radius: 20px;
        margin: 30px;
    }
    #experience-badge{
        margin-left: 25px;
        margin-top: 20px;
    }
   .some-facts{
    width: 100%;
    margin: 0 auto;
   }
   .some-facts-description , .section-title{
    width: 100%;
    padding: 0px 30px;
   }
   .facts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 60px 30px;
    }
    .fact {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
    }
    .our-sponsors, .sponsors-info{
        width: 100%;
        margin: 0 auto;
    }
    .sponsors-info{

    }
    .section-title {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 85px;
    }
    .sponsor-description {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 35px;
        padding: 30px;
    }
    .sponsor-companis{
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .sponsor-companis img{
        margin: 0 auto;
    }
    footer {
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        margin-left: 5px;
    }
    footer p{
        text-align: center;
        padding: 24px;
    }
}

/* Medium screen size device media query */
@media screen and (min-width: 576px) and (max-width: 992px){
    header{
        width: 100%;
        margin: 0 auto;
    }
    .navbar{
        padding: 30px 30px;
    }
    .banner-image{
        width: 100%;
        padding: 30px 30px;
    }
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 60px auto;
    }

    .enjoy{
        width: 100%;
        margin: 0 auto;
        padding: 60px 35px;
        text-align: center;
    }
    .some-facts {
        width: 100%;
        text-align: center;
        padding: 0px 35px;
        margin-top: 0;
    }
    .some-facts-description{
        width: 100%;
    }
    .facts-container {
        margin: 50px auto;
    }
    .enjoy-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .enjoy-image-container{
        width: 100%;
        margin: 0;
    }
    .section-title2{
        margin: 0 auto;
    }
    .section-description{
        margin: 0 auto;
    }
    .enjoy-item{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .sponsors-info{
        text-align: center;
    }
    .sponsor-companis {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 30px;
        margin: 0 auto;
    }
    footer{
        width: 100%;
    }

} 